<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link rel="stylesheet" href="stylesheets/styles.css">
<script src="javascripts/example.js" type="text/javascript"></script>
</head>
<body>

<h1>about</h1>
<p>sgseewfewge.</p>
<button onclick="onClick();">srgse</button>
</body>
</html>
